<h2 class="text-center">Contact Form</h2>
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 col-lg-9 pb-5">
          <!--Form with header-->
          <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
              <div class="card border-primary rounded-0">
                  <div class="card-header p-0">
                      <div class="bg-info text-white text-center py-2">
                          <h3><i class="fa fa-envelope"></i> Contact US</h3>
                          <p class="m-0">submit your query here</p>
                      </div>
                  </div>
                  <div class="card-body p-3">

                      <!--Body-->
                      <div class="form-group">
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                              </div>
                              <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': isSubmitted && f.name.errors }" />
                              <div *ngIf="isSubmitted && f.name.errors" class="invalid-feedback">
                                  <div *ngIf="f.name.errors.required">Please enter name.</div>
                              </div>                          
                            </div>
                      </div>
                      <div class="form-group">
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                              </div>
                              <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }" />
                                <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Please enter email.</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address.</div>
                                </div>                          
                            </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-tag text-info"></i></div>
                            </div>
                            <input type="text" formControlName="subject" class="form-control" placeholder="Subject" [ngClass]="{ 'is-invalid': isSubmitted && f.subject.errors }" />
                            <div *ngIf="isSubmitted && f.subject.errors" class="invalid-feedback">
                                <div *ngIf="f.subject.errors.required">Please enter subject.</div>
                            </div>                          
                          </div>
                    </div>
                      <div class="form-group">
                          <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                              </div>
                              <textarea rows="5" formControlName="message" id="message" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.message.errors }" placeholder="Message"></textarea>
                                <div *ngIf="isSubmitted && f.message.errors" class="invalid-feedback">
                                    <div *ngIf="f.message.errors.required">Please enter message.</div>
                                </div>                          
                          </div>
                      </div>

                      <div class="text-center">
                          <input type="submit" value="Submit" class="btn btn-info btn-block rounded-0 py-2">
                      </div>
                  </div>

              </div>
          </form>
          <!--Form with header-->
      </div>
	</div>